/* Handles styling for profile page */
.profile-content a {
    text-decoration: none;
}

.profile-image {
    display: inline-block;
}

.profile-section {
    margin-bottom: 15px;
}

.profile-info {
    display: inline-block;
    height: 100%;
}

.profile-info label {
    font-size: x-large;
}